<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite1]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80d585">  <td>19/01/09 16:19:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_001@3972a855]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1962329560</td>   <td></td> </tr>
<tr bgcolor="7eb365">  <td>19/01/09 16:19:42</td>   <td>6250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest_001.loginTest()[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_001@3972a855]">loginTest</td> 
  <td>main@1962329560</td>   <td></td> </tr>
<tr bgcolor="80d585">  <td>19/01/09 16:19:44</td>   <td>8766</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_001@3972a855]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1962329560</td>   <td></td> </tr>
<tr bgcolor="80d585">  <td>19/01/09 16:19:45</td>   <td>9463</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_002@62e7f11d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1962329560</td>   <td></td> </tr>
<tr bgcolor="8764ef">  <td>19/01/09 16:19:51</td>   <td>15869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest_002.loginDDT(java.lang.String, java.lang.String)[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_002@62e7f11d]">loginDDT</td> 
  <td>main@1962329560</td>   <td></td> </tr>
<tr bgcolor="8764ef">  <td>19/01/09 16:19:53</td>   <td>18132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest_002.loginDDT(java.lang.String, java.lang.String)[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_002@62e7f11d]">loginDDT</td> 
  <td>main@1962329560</td>   <td></td> </tr>
<tr bgcolor="80d585">  <td>19/01/09 16:19:56</td>   <td>20829</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_002@62e7f11d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1962329560</td>   <td></td> </tr>
</table>
