<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60f9cb">  <td>19/01/09 16:14:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_AddCustomer_003.addNewCustomer()[pri:0, instance:com.inetBanking.testCases.TC_AddCustomer_003@366647c2]">addNewCustomer</td> 
  <td>main@1697752980</td>   <td></td> </tr>
<tr bgcolor="80d585">  <td>19/01/09 16:14:37</td>   <td>-18228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest_002.loginDDT(java.lang.String, java.lang.String)[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_002@482bce4f]">loginDDT</td> 
  <td>main@1697752980</td>   <td></td> </tr>
<tr bgcolor="80d585">  <td>19/01/09 16:14:41</td>   <td>-14156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest_002.loginDDT(java.lang.String, java.lang.String)[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_002@482bce4f]">loginDDT</td> 
  <td>main@1697752980</td>   <td></td> </tr>
<tr bgcolor="80d585">  <td>19/01/09 16:14:43</td>   <td>-11835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest_002.loginDDT(java.lang.String, java.lang.String)[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_002@482bce4f]">loginDDT</td> 
  <td>main@1697752980</td>   <td></td> </tr>
<tr bgcolor="80d585">  <td>19/01/09 16:14:47</td>   <td>-8023</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest_002.loginDDT(java.lang.String, java.lang.String)[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_002@482bce4f]">loginDDT</td> 
  <td>main@1697752980</td>   <td></td> </tr>
<tr bgcolor="ceb1df">  <td>19/01/09 16:14:27</td>   <td>-27834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_LoginTest_001.loginTest()[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_001@55b53d44]">loginTest</td> 
  <td>main@1697752980</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>19/01/09 16:14:21</td>   <td>-34151</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_001@55b53d44]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1697752980</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>19/01/09 16:14:30</td>   <td>-24691</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_002@482bce4f]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1697752980</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>19/01/09 16:14:49</td>   <td>-5554</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.inetBanking.testCases.TC_AddCustomer_003@366647c2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1697752980</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>19/01/09 16:14:29</td>   <td>-25390</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_001@55b53d44]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1697752980</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>19/01/09 16:14:49</td>   <td>-6247</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.inetBanking.testCases.TC_LoginTest_002@482bce4f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1697752980</td>   <td></td> </tr>
<tr bgcolor="9cd4d8">  <td>19/01/09 16:15:00</td>   <td>5627</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.inetBanking.testCases.TC_AddCustomer_003@366647c2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1697752980</td>   <td></td> </tr>
</table>
